body {
  background-color: #fc466b;
  background: -webkit-linear-gradient(to right, #fc466b, #3f5efb);
  background: linear-gradient(to right, #fc466b, #3f5efb);
  font-family: neue-haas-grotesk-display, sans-serif;
  color: white;
}
